<div class="jumbotron jobscraper">
	<div class='top-menu'>
		<img src="/assets/images/monster-sm.png">
		<br>
		<button type="button" class="btn btn-top" id="saved-btn" href="/jobs">Saved Jobs</button>
		<button type="button" class="btn btn-top" id="scrape-btn" href="#">Scrape Jobs</button>
	</div>
</div>

